<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chatbot Administration</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body class="container">
    <header>

    </header>
    <main>
        <div class="jumbotron">
            <h1>Welcome</h1>
        </div>
        <form action="uploadbot" method=POST enctype="multipart/form-data">
            <input id="botfile" type="file" name="botfile" />
            <input type="submit">
        </form>

        <button onclick="">Create new bot</button>
    </main>
    <footer>
        <p class="text-center text-muted">RiveScript Bot</p>
    </footer>
</body>

</html>